<a href="https://colab.research.google.com/github/Althaf0097/Demo/blob/main/Assignment1_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python pratical Question 1

1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [1]:
r =float(input("Enter the radius: "))

area = 3.14*r**2

print("Area of Circle is",area)

Enter the radius: 5
Area of Circle is 78.5

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [2]:
Name = input("Enter the name: ")
Roll_No = int(input("Enter the roll number: "))
Mark = int(input("Enter the mark: "))

print("Name:",Name)
print("Roll No:",Roll_No)
print("Mark:",Mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name: Anisha
Roll No: 21
Mark: 78

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [3]:
l = [12,3,47,10]
print(max(l),"is the largest number")

47 is the largest number

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [5]:
pre_num = 0

for current_number in range(1, 11):
    sum = pre_num + current_number
    print("Current Number", current_number, "Previous Number ", pre_num, "Sum: ", sum)
    pre_num = current_number

Current Number 1 Previous Number  0 Sum:  1
Current Number 2 Previous Number  1 Sum:  3
Current Number 3 Previous Number  2 Sum:  5
Current Number 4 Previous Number  3 Sum:  7
Current Number 5 Previous Number  4 Sum:  9
Current Number 6 Previous Number  5 Sum:  11
Current Number 7 Previous Number  6 Sum:  13
Current Number 8 Previous Number  7 Sum:  15
Current Number 9 Previous Number  8 Sum:  17
Current Number 10 Previous Number  9 Sum:  19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55.

In [6]:
l1 = [10,20,33,46,55]
for i in l1:
    if i%5==0:
        print(i)

10
20
55

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [7]:
number = int(input("Enter the number: "))
if number > 1:
    for i in range(2, number):
        if (number % i) == 0:
            print(number, "is not a prime number")
            break
    else:
        print(number, "is a prime number")

Enter the number: 3
3 is a prime number

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [9]:
l2 = [10,40,30,70]
for i in l2[::-1]:
    print(i)

70
30
40
10

8. Write a Python program to print the following pattern.
###*
###**
###***
###****

In [10]:
for i in range(1,5):
    print("*"*i)

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [12]:
l3 = [34,12,7]
print(max(l3))

34

10. Write a Python program to construct the following pattern, using a
nested for loop.
###*
###**
###***
###****
###*****
###****
###***
###**
###*

In [18]:
for i in range(1,6):
    print("*"*i)
for i in range(4,0,-1):
    print("*"*i)

*
**
***
****
*****
****
***
**
*

# Python Pratical Question 2

1. Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [21]:
string = input("Enter a string value: ")
count = {}

for char in string:
    if char in count:
        count[char] += 1
    else:
        count[char] = 1

output = ', '.join([f"{char}={count[char]}" for char in count])

print(output)

Enter a string value: assamply
a=2, s=2, m=1, p=1, l=1, y=1

2. . Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [22]:
def max_number(a,b,c):
    return max(a,b,c)

max_number(34,12,7)

34

3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [23]:
base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))

result = base ** exp

print(result)

Enter the base: 2
Enter the exponent: 3
8

4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [25]:
num = int(input("Enter the number: "))
sum = 0
for i in range(1,num):
    sum += i**3
print(sum)

Enter the number: 4
36

5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [26]:
for i in range(1,11):
  if i%2==0 and i%5==0:
    print("FizzBuzz")
  elif i%2==0:
    print("Fizz")
  elif i%5==0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

6. Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [27]:
from collections import Counter

numbers = [2, 3, 4, 2, 5, 2]
count = Counter(numbers)
most_frequent = count.most_common(1)[0][0]
print(most_frequent)

2

7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [32]:
numbers = [2, 1, 3, 1]
sum_of_squares = 0
for x in numbers:
    sum_of_squares += x**2
print(sum_of_squares)

15

8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [33]:
for i in range(1,16):
  if i%2==0:
    print(i,"is even")
  else:
    print(i,"isodd")

1 isodd
2 is even
3 isodd
4 is even
5 isodd
6 is even
7 isodd
8 is even
9 isodd
10 is even
11 isodd
12 is even
13 isodd
14 is even
15 isodd

9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [35]:
temp_fahrenheit = float(input("Temperature in Fahrenheit = "))
temp_celsius = (temp_fahrenheit - 32) * 5/9
print("Temperature in Celsius =", int(temp_celsius))

Temperature in Fahrenheit = 41
Temperature in Celsius = 5

10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [36]:
a = int(input("Enter the number: "))
fact = 1
for i in range(1,a+1):
    fact *= i
print(fact)

Enter the number: 5
120