<a href="https://colab.research.google.com/github/Althaf0097/Demo/blob/main/pythonbasictask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given the string "Hello, World!", extract and print the
substring "Hello".

In [ ]:
string="Hello, World!"
print(string[:5])

Hello




2. Given the string "Python is fun", extract and print the
substring "is".

In [ ]:
string="Python is fun"
print(string[7:10])

is

3. Given the string "Programming", extract and print the
substring "gram" using slicing indices.

In [ ]:
string="Programming"
print(string[3:7])

gram

4. Given the string "abcdefgh", use slicing to print only the
characters at even indices.

In [ ]:
string="abcdefgh"
print(string[::2])

aceg

5. Given the string "abcdefg", use negative indices to extract
and print the substring "efg".

In [ ]:
string="abcdefg"
print(string[-3:])

efg

6. Given the string "Data Science", use negative indices to
extract and print the last three characters.

In [ ]:
string="Data Science"
print(string[-3:])

nce

7. Given the string "abcdefghij", use slicing with a step to
print every second character.

In [ ]:
string="abcdefghij"
print(string[1::2])

bdfhj

8. Given the string "1234567890", use slicing with a step to
print the odd digits.

In [ ]:
string="1234567890"
print(string[::2])

13579

9. Given the string "Hello", use slicing to print the string in
reverse order.

In [ ]:
string="Hello"
print(string[::-1])

olleH

10. Given the string "abcdefghijk", extract and print the
substring "acegik" using slicing.

In [ ]:
string="abcdefghijk"
print(string[::2])

acegik

11. Write a program to find sum of all elements in a list of
integers

In [ ]:
list1=[1,2,3,4,5]
sum1=0
for i in list1:
    sum1=sum1+i
print(sum1)

15

12. Input a sentence as a string.
a) Print its length
b) Print the first half of string

In [ ]:
a=input("Enter a sentence: ")
print("The length of the sentence is:",len(a))
print("THe first half of the sentence is -",a[:len(a)//2])

Enter a sentence: Hello Google ! I am here...
The length of the sentence is: 27
THe first half of the sentence is - Hello Google

13. Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to
100

In [ ]:
tuple1 =(78,45,32,19,82,77,40,39)
list1=list(tuple1)
list1[2]=100
tuple1=tuple(list1)
print(tuple1)

(78, 45, 100, 19, 82, 77, 40, 39)

14. Consider a list
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value
and sum of all elements

In [ ]:
listA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
listA.remove(32)
print(listA)
listA = [x for x in listA if x != 40]
print(listA)
listA.pop(5)
print(listA)
if len(listA) > 9:
    listA[9] = 300
    print(listA)
listA.insert(2, 200)

print("Final list:", listA)
print("Length of the list:", len(listA))
print("Maximum value in the list:", max(listA))
print("Sum of all elements in the list:", sum(listA))

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
[19, 10, 55, 31, 32, 29, 10, 65, 77]
Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77]
Length of the list: 10
Maximum value in the list: 200
Sum of all elements in the list: 528

15. Consider a string ”The day has been long”.
(a) Delete the value at index =4
(b) Print the string 4 times in a single line with space
between each repetition
(c) Print the string 3 times in a new line each time
(d) Modify the string at index 7 as ’A’
(e) Print the string from index 4 to 15
(f) Print the final string with its length.

In [ ]:
s = "The day has been long"
s = s[:4] + s[5:]
print(s)

print((s + " ") * 4)

for i in range(3):
    print(s)
s = s[:7] + 'A' + s[8:]
print(s)

print(s[4:16])

print("Length of the string:", len(s))

The ay has been long
The ay has been long The ay has been long The ay has been long The ay has been long
The ay has been long
The ay has been long
The ay has been long
The ay Aas been long
ay Aas been
Length of the string: 20